<section class="page-box">
  <h1>Student Fun Zone</h1>
  <p>Alati iz Projekta 1, sada unutar Angular aplikacije.</p>

  <div class="kartice">
    <a class="kartica" routerLink="/fun-zone/bingo">
      <h3>Bingo</h3>
      <p>Izvlačenje brojeva 1–75</p>
    </a>
    <a class="kartica" routerLink="/fun-zone/kviz">
      <h3>Kviz</h3>
      <p>Pitanja iz web programiranja</p>
    </a>
    <a class="kartica" routerLink="/fun-zone/alat/whiteboard">
      <h3>Whiteboard</h3>
      <p>Canvas crtanje</p>
    </a>
    <a class="kartica" routerLink="/fun-zone/alat/kanban">
      <h3>Kanban</h3>
      <p>Organizacija zadataka</p>
    </a>
    <a class="kartica" routerLink="/fun-zone/alat/vision">
      <h3>Vision Board</h3>
      <p>Plutena ploca</p>
    </a>
  </div>
</section>
